In [17]:
import pandas as pd

df = pd.read_parquet(path="data/customers.parquet")
df

             event_timestamp  user_id
0 2022-08-14 14:59:13.147685        1
1 2022-08-14 14:59:13.147685        2
2 2022-08-14 14:59:13.147685        3
3 2022-08-14 14:59:13.147685        4
4 2022-08-14 14:59:13.147685        5
5 2022-08-16 14:59:13.147685        1
6 2022-08-16 14:59:13.147685        2
7 2022-08-16 14:59:13.147685        3
8 2022-08-16 14:59:13.147685        4
9 2022-08-16 14:59:13.147685        5

In [18]:
import pandas as pd

df = pd.read_parquet(path="data/semester.parquet")
df

,event_timestamp,created_timestamp,students,semester,is_done
0,2022-08-13 15:20:33.130369,2022-08-14 15:20:33.130369,822594,9,True
1,2022-08-13 15:20:33.130369,2022-08-14 15:20:33.130369,822595,5,False
2,2022-08-13 15:20:33.130369,2022-08-14 15:20:33.130369,822596,8,True
3,2022-08-13 15:20:33.130369,2022-08-14 15:20:33.130369,822597,1,False
4,2022-08-13 15:20:33.130369,2022-08-14 15:20:33.130369,822598,1,False