In [1]:
import pandas as pd

df = pd.read_parquet(path="data/students.parquet")
df

               event_timestamp  student
0   2022-08-15 16:00:41.047115   822594
1   2022-08-15 16:00:41.047115   822595
2   2022-08-15 16:00:41.047115   822596
3   2022-08-15 16:00:41.047115   822597
4   2022-08-15 16:00:41.047115   822598
..                         ...      ...
195 2022-08-17 16:00:41.047115   822689
196 2022-08-17 16:00:41.047115   822690
197 2022-08-17 16:00:41.047115   822691
198 2022-08-17 16:00:41.047115   822692
199 2022-08-17 16:00:41.047115   822693

[200 rows x 2 columns]

In [2]:
import pandas as pd

df = pd.read_parquet(path="data/semester.parquet")
df

,event_timestamp,created_timestamp,student,semester,graduated
0,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822594,6,True
1,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822595,1,False
2,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822596,2,False
3,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822597,8,True
4,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822598,5,False
...,...,...,...,...,...
95,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822689,2,False
96,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822690,5,False
97,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822691,2,False
98,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822692,4,False
99,2022-08-14 16:00:41.047115,2022-08-15 16:00:41.047115,822693,8,True

In [3]:
import pandas as pd

df = pd.read_parquet(path="data/credits.parquet")
df

              event_timestamp          created_timestamp  student  credits
0  2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822594      100
1  2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822595       57
2  2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822596       54
3  2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822597      120
4  2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822598       47
..                        ...                        ...      ...      ...
95 2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822689        5
96 2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822690       37
97 2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822691       66
98 2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822692        2
99 2022-08-14 16:00:41.047115 2022-08-15 16:00:41.047115   822693      114

[100 rows x 4 columns]