In [17]:
import pandas as pd

df = pd.read_parquet(path="data/customers.parquet")
df

             event_timestamp  user_id
0 2022-08-14 14:59:13.147685        1
1 2022-08-14 14:59:13.147685        2
2 2022-08-14 14:59:13.147685        3
3 2022-08-14 14:59:13.147685        4
4 2022-08-14 14:59:13.147685        5
5 2022-08-16 14:59:13.147685        1
6 2022-08-16 14:59:13.147685        2
7 2022-08-16 14:59:13.147685        3
8 2022-08-16 14:59:13.147685        4
9 2022-08-16 14:59:13.147685        5

In [1]:
import pandas as pd

df = pd.read_parquet(path="data/semester.parquet")
df

,event_timestamp,created_timestamp,student,semester,is_done
0,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822594,9,True
1,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822595,5,False
2,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822596,2,False
3,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822597,6,True
4,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822598,3,False
...,...,...,...,...,...
95,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822689,2,False
96,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822690,5,False
97,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822691,2,False
98,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822692,5,False
99,2022-08-13 18:27:38.422804,2022-08-14 18:27:38.422804,822693,7,False

In [2]:
import pandas as pd

df = pd.read_parquet(path="data/credits.parquet")
df

              event_timestamp          created_timestamp  student  credits
0  2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822594      104
1  2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822595       57
2  2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822596       51
3  2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822597      100
4  2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822598       65
..                        ...                        ...      ...      ...
95 2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822689        9
96 2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822690       12
97 2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822691        2
98 2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822692       20
99 2022-08-13 18:27:38.422804 2022-08-14 18:27:38.422804   822693       85

[100 rows x 4 columns]