In [8]:
import pandas as pd

df = pd.read_parquet(path="data/students.parquet")
df

               event_timestamp  registration_number        student_name
0   2022-08-17 17:23:16.605773               825594         Polly Tobin
1   2022-08-17 17:23:16.605773               825595       Glen Mcdonald
2   2022-08-17 17:23:16.605773               825596   William Dickerson
3   2022-08-17 17:23:16.605773               825597         Mark Hebert
4   2022-08-17 17:23:16.605773               825598       Brenda Melius
..                         ...                  ...                 ...
195 2022-08-19 17:23:16.605773               825689  Melissa Goodermote
196 2022-08-19 17:23:16.605773               825690        Garry Walker
197 2022-08-19 17:23:16.605773               825691      Vincent Alicea
198 2022-08-19 17:23:16.605773               825692        James Carson
199 2022-08-19 17:23:16.605773               825693     Sandra Schwartz

[200 rows x 3 columns]

In [9]:
import pandas as pd

df = pd.read_parquet(path="data/semester.parquet")
df

,event_timestamp,created_timestamp,registration_number,semester,graduated
0,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825594,9,False
1,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825595,1,False
2,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825596,9,False
3,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825597,4,False
4,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825598,9,False
...,...,...,...,...,...
95,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825689,5,False
96,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825690,9,True
97,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825691,3,False
98,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825692,7,True
99,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825693,5,False

In [10]:
import pandas as pd

df = pd.read_parquet(path="data/credits.parquet")
df

,event_timestamp,created_timestamp,registration_number,credits
0,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825594,72
1,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825595,46
2,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825596,83
3,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825597,39
4,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825598,71
...,...,...,...,...
95,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825689,67
96,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825690,99
97,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825691,20
98,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825692,95
99,2022-08-16 17:23:16.605773,2022-08-17 17:23:16.605773,825693,40